<?xml version="1.0" encoding="utf-8"?>

<Peach xmlns="http://peachfuzzer.com/2012/Peach" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://peachfuzzer.com/2012/Peach /peach/peach.xsd">


    <Defaults>
        <Number signed="false" endian="big"/>
    </Defaults>

    @IMPORTS@

    <!-- MQTT UTF-8 String: 2-byte length prefix (big endian) + UTF-8 string -->
    <DataModel name="MQTT_String">
        <Number name="length" size="16">
            <Relation type="size" of="value"/>
        </Number>
        <String name="value" type="utf8"/>
    </DataModel>

    <!-- Fixed Header: message_type (4 bits) + flags (4 bits) + remaining_length (VarInt) -->
    <DataModel name="mqtt_fixed_header_t">
        <Number name="message_type" size="4"/>
        <Number name="flags" size="4"/>
        <VarInt name="remaining_length">
            <Relation type="size" of="msg_body"/>
        </VarInt>
    </DataModel>

    <!-- Connect Variable Header (MQTT 5.0) -->
    <DataModel name="mqtt_connect_variable_header_t">
        <Block name="protocol_name" ref="MQTT_String"/>
        <Number name="protocol_level" size="8"/>
        <Number name="connect_flags" size="8"/>
        <Number name="keep_alive" size="16"/>
        <VarInt name="property_length">
            <Relation type="size" of="properties"/>
        </VarInt>
        <Blob name="properties"/>
    </DataModel>

    <!-- Connect Payload (MQTT 5.0) -->
    <DataModel name="mqtt_connect_payload_t">
        <Block name="client_id" ref="MQTT_String"/>
        <!-- Will Properties (optional, if Will Flag is set) -->
        <VarInt name="will_property_length" minOccurs="0" maxOccurs="1">
            <Relation type="size" of="will_properties"/>
        </VarInt>
        <Blob name="will_properties" minOccurs="0" maxOccurs="1"/>
        <!-- Will Topic (optional, if Will Flag is set) -->
        <Block name="will_topic" ref="MQTT_String" minOccurs="0" maxOccurs="1"/>
        <!-- Will Payload (optional, if Will Flag is set) -->
        <Number name="will_payload_length" size="16" minOccurs="0" maxOccurs="1">
            <Relation type="size" of="will_payload"/>
        </Number>
        <Blob name="will_payload" minOccurs="0" maxOccurs="1"/>
        <!-- User Name (optional, if Username Flag is set) -->
        <Block name="user_name" ref="MQTT_String" minOccurs="0" maxOccurs="1"/>
        <!-- Password (optional, if Password Flag is set) -->
        <Number name="password_length" size="16" minOccurs="0" maxOccurs="1">
            <Relation type="size" of="password"/>
        </Number>
        <Blob name="password" minOccurs="0" maxOccurs="1"/>
    </DataModel>

    <!-- Connect Packet -->
    <DataModel name="mqtt_connect_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="1" token="true"/>
            <Number name="flags" size="4" value="0" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_connect_variable_header_t"/>
            <Block name="payload" ref="mqtt_connect_payload_t"/>
        </Block>
    </DataModel>

    <!-- Subscribe Variable Header (MQTT 5.0) -->
    <DataModel name="mqtt_subscribe_variable_header_t">
        <Number name="packet_identifier" size="16"/>
        <VarInt name="property_length">
            <Relation type="size" of="properties"/>
        </VarInt>
        <Blob name="properties"/>
    </DataModel>

    <!-- Subscribe Payload -->
    <DataModel name="mqtt_subscribe_payload_t">
        <Block name="topic_filters" minOccurs="1" maxOccurs="100">
            <Block name="topic_filter" ref="MQTT_String"/>
            <Number name="qos" size="8"/>
        </Block>
    </DataModel>

    <!-- Subscribe Packet -->
    <DataModel name="mqtt_subscribe_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="8" token="true"/>
            <Number name="flags" size="4" value="2" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_subscribe_variable_header_t"/>
            <Block name="payload" ref="mqtt_subscribe_payload_t"/>
        </Block>
    </DataModel>

    <!-- Publish Payload -->
    <DataModel name="mqtt_publish_payload_t">
        <Blob name="payload" />
    </DataModel>

    <!-- Publish Packet -->
    <DataModel name="mqtt_publish_packet_t">
        <Choice name="body_variant">
            <!-- QoS 0 Case -->
            <Block name="qos0">
                <Block name="fixed_header">
                    <Number name="message_type" size="4" value="3" token="true"/>
                    <Number name="dup" size="1"/>
                    <Number name="qos" size="2" value="0" token="true"/>
                    <Number name="retain" size="1"/>
                    <VarInt name="remaining_length">
                        <Relation type="size" of="msg_body"/>
                    </VarInt>
                </Block>
                <Block name="msg_body">
                    <Block name="variable_header">
                        <Block name="topic_name" ref="MQTT_String"/>
                         <!-- No Packet Identifier -->
                        <Number name="packet_identifier" size="16" occurs="0"/>
                        <VarInt name="property_length">
                            <Relation type="size" of="properties"/>
                        </VarInt>
                        <Blob name="properties"/>
                    </Block>
                    <Block name="payload" ref="mqtt_publish_payload_t"/>
                </Block>
            </Block>
            
            <!-- QoS 1/2 Case -->
            <Block name="qos12">
                <Block name="fixed_header">
                    <Number name="message_type" size="4" value="3" token="true"/>
                    <Number name="dup" size="1"/>
                    <Choice name="qos">
                        <Number name="qos1" size="2" value="1" token="true"/>
                        <Number name="qos2" size="2" value="2" token="true"/>
                    </Choice>
                    <Number name="retain" size="1"/>
                    <VarInt name="remaining_length">
                        <Relation type="size" of="msg_body"/>
                    </VarInt>
                </Block>
                <Block name="msg_body">
                    <Block name="variable_header">
                        <Block name="topic_name" ref="MQTT_String"/>
                        <Number name="packet_identifier" size="16"/>
                        <VarInt name="property_length">
                            <Relation type="size" of="properties"/>
                        </VarInt>
                        <Blob name="properties"/>
                    </Block>
                    <Block name="payload" ref="mqtt_publish_payload_t"/>
                </Block>
            </Block>
        </Choice>
    </DataModel>

    <!-- Unsubscribe Variable Header (MQTT 5.0) -->
    <DataModel name="mqtt_unsubscribe_variable_header_t">
        <Number name="packet_identifier" size="16"/>
        <VarInt name="property_length">
            <Relation type="size" of="properties"/>
        </VarInt>
        <Blob name="properties"/>
    </DataModel>

    <!-- Unsubscribe Payload -->
    <DataModel name="mqtt_unsubscribe_payload_t">
        <Block name="topic_filters" minOccurs="1" maxOccurs="10">
            <Block name="topic_filter" ref="MQTT_String"/>
        </Block>
    </DataModel>

    <!-- Unsubscribe Packet -->
    <DataModel name="mqtt_unsubscribe_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="10" token="true"/>
            <Number name="flags" size="4" value="2" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_unsubscribe_variable_header_t"/>
            <Block name="payload" ref="mqtt_unsubscribe_payload_t"/>
        </Block>
    </DataModel>

    <!-- Auth Variable Header (MQTT 5.0) -->
    <DataModel name="mqtt_auth_variable_header_t">
        <Number name="reason_code" size="8"/>
        <VarInt name="property_length">
            <Relation type="size" of="properties"/>
        </VarInt>
        <Blob name="properties"/>
    </DataModel>

    <!-- Auth Packet -->
    <DataModel name="mqtt_auth_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="15" token="true"/>
            <Number name="flags" size="4" value="0" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_auth_variable_header_t"/>
        </Block>
    </DataModel>

    <!-- PubResp Variable Header (used by PUBACK, PUBREC, PUBREL, PUBCOMP) -->
    <DataModel name="mqtt_pubresp_variable_header_t">
        <Number name="packet_identifier" size="16"/>
        <!-- Reason Code (optional in MQTT 5.0) -->
        <Number name="reason_code" size="8" minOccurs="0" maxOccurs="1"/>
        <!-- Property Length (optional in MQTT 5.0) -->
        <VarInt name="property_length" minOccurs="0" maxOccurs="1">
            <Relation type="size" of="properties"/>
        </VarInt>
        <Blob name="properties" minOccurs="0" maxOccurs="1"/>
    </DataModel>

    <!-- PUBACK Packet -->
    <DataModel name="mqtt_puback_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="4" token="true"/>
            <Number name="flags" size="4" value="0" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_pubresp_variable_header_t"/>
        </Block>
    </DataModel>

    <!-- PUBREC Packet -->
    <DataModel name="mqtt_pubrec_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="5" token="true"/>
            <Number name="flags" size="4" value="0" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_pubresp_variable_header_t"/>
        </Block>
    </DataModel>

    <!-- PUBREL Packet -->
    <DataModel name="mqtt_pubrel_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="6" token="true"/>
            <Number name="flags" size="4" value="2" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_pubresp_variable_header_t"/>
        </Block>
    </DataModel>

    <!-- PUBCOMP Packet -->
    <DataModel name="mqtt_pubcomp_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="7" token="true"/>
            <Number name="flags" size="4" value="0" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_pubresp_variable_header_t"/>
        </Block>
    </DataModel>

    <!-- PINGREQ Packet (no variable header, no payload) -->
    <DataModel name="mqtt_pingreq_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="12" token="true"/>
            <Number name="flags" size="4" value="0" token="true"/>
        </Block>
        <Block name="msg_body"/>
    </DataModel>

    <!-- Disconnect Variable Header (MQTT 5.0) -->
    <DataModel name="mqtt_disconnect_variable_header_t">
        <Number name="reason_code" size="8" minOccurs="0" maxOccurs="1"/>
        <VarInt name="property_length" minOccurs="0" maxOccurs="1">
            <Relation type="size" of="properties"/>
        </VarInt>
        <Blob name="properties" minOccurs="0" maxOccurs="1"/>
    </DataModel>

    <!-- DISCONNECT Packet -->
    <DataModel name="mqtt_disconnect_packet_t">
        <Block name="fixed_header" ref="mqtt_fixed_header_t">
            <Number name="message_type" size="4" value="14" token="true"/>
            <Number name="flags" size="4" value="0" token="true"/>
        </Block>
        <Block name="msg_body">
            <Block name="variable_header" ref="mqtt_disconnect_variable_header_t" minOccurs="0" maxOccurs="1"/>
        </Block>
    </DataModel>

    <!-- mqtt_packet_t - Union represented as Choice based on type -->
    <DataModel name="mqtt_packet_t">
        <Choice name="packet_union">
            <Block name="connect" ref="mqtt_connect_packet_t"/>
            <Block name="subscribe" ref="mqtt_subscribe_packet_t"/>
            <Block name="publish" ref="mqtt_publish_packet_t"/>
            <Block name="unsubscribe" ref="mqtt_unsubscribe_packet_t"/>
            <Block name="auth" ref="mqtt_auth_packet_t"/>
            <Block name="puback" ref="mqtt_puback_packet_t"/>
            <Block name="pubrec" ref="mqtt_pubrec_packet_t"/>
            <Block name="pubrel" ref="mqtt_pubrel_packet_t"/>
            <Block name="pubcomp" ref="mqtt_pubcomp_packet_t"/>
            <Block name="pingreq" ref="mqtt_pingreq_packet_t"/>
            <Block name="disconnect" ref="mqtt_disconnect_packet_t"/>
        </Choice>
    </DataModel>

    <!-- mqtt_packet_t[] - Array of MQTT packets -->
    <DataModel name="mqtt_packet_array">
        @FIXUP@
        <Block name="packets" minOccurs="1" maxOccurs="100">
            <Block ref="mqtt_packet_t"/>
        </Block>
    </DataModel>


    <StateModel name="TheState" initialState="Initial">
        <State name="Initial">
            <Action type="output" @ON_COMPLETE@>
                <DataModel ref="mqtt_packet_array"/>
                <Data fileName="./seed/*.raw" />
            </Action>
        </State>
    </StateModel>

    <Test name="Default">
        <StateModel ref="TheState"/>

        <Publisher class="TcpClient">
            <Param name="Host" value="@HOST@"/>
            <Param name="Port" value="@PORT@"/>
            <Param name="Timeout" value="@TIMEOUT@"/>
        </Publisher>

        @LOGGER@

        <Strategy class="@STRATEGY@"/>

        @MUTATORS@

    </Test>

</Peach>